* {
  box-sizing: border-box;
  /*font-family: 'Avenir', Helvetica, Arial, sans-serif;*/
  font-family: 'Nunito', sans-serif;
  color: #2c3e50;
}

body {
  background: #99AABB; /*!important;*/
  min-height: 100vh;
  display: flex;
  font-weight: 400;
}

.main_home {
  background-color: #ffffff;
  background-size: 100%;
  width: 100%;
  height: 100%;
}

.car_image {
  background-image: url('../car.jpg');
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-position: center;
}

body,
html,
.App,
.vue-tempalte,
.vertical-center {
  width: 100%;
  height: 100%;
}

.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.vertical-center {
  display: flex;
  text-align: left;
  justify-content: center;
  flex-direction: column;
}

.inner-block {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

.vertical-center .form-control:focus {
  border-color: #2554FF;
  box-shadow: none;
}

.vertical-center h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

label {
  font-weight: 500;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7a7a7a;
  margin: 0;
}

.forgot-password a {
  color: #2554FF;
}

a {
  color: #2c3e50;
}
